.span-spacer {
    flex: 1 1 auto;
  }

@keyframes ball-animation {
    from {
        left: 100%;
    }
    to {
        left: 20px;
    }
}

.ball {
  animation: ball-animation 1s;
  position: absolute;
  animation-iteration-count: infinite;

}