<mat-expansion-panel 
[expanded]="!toggled"
(opened)= "toggleOff()"
 class="mat-elevation-z8" id="fire-form">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cannon Wizard
        </mat-panel-title>
        <mat-panel-description *ngIf="hasFired">
          Next: {{ ballNames[currentShotNum % ballNames.length] }}
          <mat-progress-bar
          color="warn"
          mode="determinate"
          [value]="(currentShotNum / (balls * shots)) * 100"
          class="progress">
        </mat-progress-bar>
          {{ (shots * balls - currentShotNum)}}
        </mat-panel-description>
      </mat-expansion-panel-header>       
            <mat-horizontal-stepper linear="true" #stepper>
              <mat-step [completed]="false" [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Cannon Settings</ng-template>
                  <mat-form-field>
                      <mat-select placeholder="Comm Port" [(value)]="selectedPort" formControlName="firstCtrl" required>
                        <div *ngIf="portNames">
                          <mat-option *ngFor="let port of portNames" [value]="port.comName">
                            {{ port.comName }}
                          </mat-option>
                      </div>
                      </mat-select>
                    </mat-form-field>
                    <br/>
                    <mat-checkbox [(ngModel)]="checked" [ngModelOptions]="{standalone: true}">
                        Single Shot
                    </mat-checkbox>
                  <div>
                    <button mat-button matStepperNext (click)="checked ? changeStep(3): null">Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [completed]="false" [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Ball Settings</ng-template>
                    <div class="floating-box">
                    <mat-form-field>
                      <mat-label #numBall>Number of balls:</mat-label>
                        <input matInput name="balls" [(ngModel)]="balls" type="number" placeholder="# Balls" formControlName="secondCtrl" required>
                      </mat-form-field>
                      <br/>
                      <mat-form-field>
                        <mat-label #numShots>Number of shots:</mat-label>
                        <input matInput name="shots" [(ngModel)]="shots" type="number" placeholder="# Shots" formControlName="secondCtrl" required>
                      </mat-form-field>
                    </div>
                  <div>
                    <button mat-button matSteppe matStepperPrevious>Back</button>
                    <button mat-button matStepperNext (click)="setBallNum(balls)">Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [completed]="false">
                  <form>
                    <ng-template matStepLabel>Shot list</ng-template>
                      Please fill out the ball names in shooting order.
                      <br/>
                      <div *ngIf="!checked" class="floating-box">
                        <div *ngFor="let ball of ballNames; let i = index trackBy:trackByFn">
                        <mat-form-field >
                          <mat-label>Ball name</mat-label>
                          <input matInput type="text" [(ngModel)]="ballNames[i]" name="{{ ball }}" placeholder="{{ ball }}">
                        </mat-form-field>
                        </div>
                      <div *ngIf="checked">
                        Continue to Fire Cannon
                      </div>
                    </div>
                    <div>
                      <button mat-button matSteppe matStepperPrevious>Back</button>
                      <button mat-button matStepperNext (click)="hasFired = true">Next</button>
                    </div>
                  </form>
                </mat-step>
              <mat-step [completed]="false">
                  <form>
                    <ng-template matStepLabel>Fire Cannon</ng-template>
                    Begin cannon session.
                    <div *ngIf="checked">
                      <br/>
                      <mat-form-field>
                        <input matInput placeholder="Ball Name">
                      </mat-form-field>
                    </div>
                    <br/>
                    <button mat-raised-button
                    [disabled]="toggled"
                    (click)="fire()"
                    color="primary"
                    class="fire-form"  >
              Start
            </button>
            <span matTooltip="Resets the cannon progress to zero.">
                <button mat-button
                  (click)="currentShotNum = 0"
                  color="warn"
                 class="fire-form"  >
                  Reset
                </button>
              </span>
            <div>
              <button mat-button matStepperPrevious [disabled]="toggled">Back</button>
              <button mat-button matStepperNext [disabled]="toggled">Next</button>
            </div>
            </form>
            </mat-step>
              <mat-step [completed]="false">
                <ng-template matStepLabel>Save file</ng-template>
                Save data to a csv file.
              <br/>
                <mat-form-field>
                  <mat-label>File name</mat-label>
                  <input matInput #fileLocation placeholder="File name">
                </mat-form-field>
                <button mat-button 
                (click)="saveToCsv(fileLocation.value)"
              color="primary">Save
            </button>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
        <mat-action-row>
          <button mat-button
                  (click)="clear()"
                  color="warn"
                  class="fire-form"  >
            Clear
          </button>
        </mat-action-row> 
</mat-expansion-panel>
