
<div class="table-container">
  <div class="filter">
    <mat-form-field>
      <input matInput placeholder="Filter" (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="ballid">
      <mat-header-cell *matHeaderCellDef> Ball ID </mat-header-cell>
      <mat-cell *matCellDef="let shot"> {{ shot.ballid }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="pressure">
      <mat-header-cell *matHeaderCellDef> Pressure </mat-header-cell>
      <mat-cell *matCellDef="let shot"> {{ shot.shotPressure }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true">
</mat-paginator>
</div>
